OPENAI_API_KEY=

MAIN_AGENT_MODEL=openai/gpt-3.5-turbo-0125

DATABASE_MANAGER_MODEL=openai/gpt-3.5-turbo-0125
TRANSACTION_AGENT_MODEL=openai/gpt-3.5-turbo-0125
ACCOUNT_AGENT_MODEL=openai/gpt-3.5-turbo-0125

QUESTION_AGENT_MODEL=openai/gpt-3.5-turbo-0125

# BigQuery
BQ_PROJECT_ID=ninth-botany-460322-r5
BQ_DATASET_ID=finassist_db